

$white: #ffffff;
$blue: #965ace;
$light-blue: #72ee7f;
$dark-gray: #0E0E0E;
$light-gray:#202020;
$black: #000000;
$orange: #ee9f77;


$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;


$transition: .35s ease-in-out;







